<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Stalk | Chat | {{username}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static',filename='w3.css')}}"/>
    <link rel="icon" type="image/gif/png" href="{{url_for('static',filename='logo.png')}}">
    <script src="{{url_for('static',filename='socket.io.min.js')}}"></script>
    <script src="{{url_for('static',filename='jquery.js')}}"></script>
    <script>
        function w3_open() {
            let sidebar = document.getElementById("mySidebar");
            sidebar.style.display = "block";
        }
        function w3_close() {
            let sidebar = document.getElementById("mySidebar");
            sidebar.style.display = "none";
        }
    </script>
    <script>
        var socket = io("/chat_page/")
        socket.on('connect',()=> {
            socket.emit('chat_connect',"online")
        })
        socket.on('new_online',(data)=> {
            if($('#logged_user').text() != data.sender) {
                $('#mySidebar').filter('#id'+data.sender).remove()
                $('#mySidebar').append(data.element)
                $('#total_online').text(data.total_online)
            }
        })
        socket.on('new_offline', (data)=> {
            $('a').remove(data.id)
            $('#total_online').text(data.total_online)
        })
    </script>
    <style>
        #fixedheader {
            position: -webkit- sticky;
            position: sticky;
            top: 0;
            width: 100%;
            float: left
        }
        #msg-option {
            position: -webkit- sticky;
            position: sticky;
            bottom: 0;
            width: 100%;
            margin-bottom: 0px;
        }
        #mySidebar {
            top: 0
        }
    </style>

</head>

<body>
    <div class="w3-white w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="width:250px;" id="mySidebar">
        <button style="width: 50px;" class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">X</button>
        <div class="w3-display-container" style="height: 105px">
            <img style="cursor:pointer" class="w3-hover-sepia w3-display-topmiddle w3-circle" src="{{url_for('static',filename=getUserImage(username))}}" width="100px" height="100px">
        </div>
        <center>
            <a style="text-align: center;width: 190px;" href="{{url_for('profile',user=username)}}" class="w3-hover-white w3-text-teal w3-border w3-border-blue w3-bar-item w3-button">
                {{username }}
            </a>
            <br>
            <a href="/logout" class="w3-text-red">logout</a>
        </center>
        <hr>
        <p style="text-align:center;font-size: large" class="w3-text-teal">
            online users <span id="total_online" class="w3-badge w3-blue">{{length(onlineUsers)}}</span>
        </p>
        <hr>
        {% for user in onlineUsers %}
            {% if user != current_user.get_id() %}
                <a id="{{'id'+user}}" style="text-align: center" href="#" class="w3-animate-bottom w3-text-blue w3-bar-item w3-button">
                    <img src="{{url_for('static',filename=getUserImage(user))}}" class="w3-image w3-circle" width="50px">
                    {{user}}
                </a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="w3-main" style="margin-left:250px">
        <div class="w3-blue w3-container w3-card" id="fixedheader">
          <button class="w3-button w3-blue w3-xlarge w3-hide-large w3-text-white" onclick="w3_open()">&#9776;</button>
          <h2 class="w3-animate-right" style="float:right" id="logged_user">{{username}}</h2>
        </div>
        
        <div class="w3-container w3-animate-zoom">
        <h3>Responsive Sidebar</h3>
        <p>The sidebar in this example will always be displayed on screens wider than 992px, and hidden on tablets or mobile phones (screens less than 993px wide).</p>
        <p>On tablets and mobile phones the sidebar is replaced with a menu icon to open the sidebar.</p>
        <p>The sidebar will overlay of the page content.</p>
        <p><b>Resize the browser window to see how it works.</b></p>
        <h3>Responsive Sidebar</h3>
        <p>The sidebar in this example will always be displayed on screens wider than 992px, and hidden on tablets or mobile phones (screens less than 993px wide).</p>
        <p>On tablets and mobile phones the sidebar is replaced with a menu icon to open the sidebar.</p>
        <p>The sidebar will overlay of the page content.</p>
        <p><b>Resize the browser window to see how it works.</b></p>
        </div>
        </div>
        <div id="msg-option" class="w3-blue w3-main w3-card w3-panel w3-cell-row" style="margin-left:250px;margin-bottom:0px">
            <input placeholder="type message..." style="width:60%;text-align: center" type="text" class="w3-animate-left w3-cell w3-input w3-white w3-border-bottom w3-border-blue w3-card w3-mobile">
            <button class="w3-animate-right w3-cell w3-button w3-white">send</button>
        </div>
</body>