<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Stalk | Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static',filename='w3.css')}}"/>
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static',filename='css/main.css')}}">
    <link rel="icon" type="image/gif/png" href="{{url_for('static',filename='logo.png')}}">
    <script src="{{url_for('static',filename='socket.io.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
    <script src="{{url_for('static',filename='js/main_socketio.js')}}"></script>
    <style>
        #stalk_main {
            width:100%;
            height:100%;
            z-index:10;
            position: fixed;
            top: 0;
        }
        #stalk_img {
            -webkit-animation: mymove 5s infinite; /* Chrome, Safari, Opera */
            animation: mymove 5s infinite;
        }
        @-webkit-keyframes mymove {
            50% {width: 350px;}
        }
        @keyframes mymove {
            50% {width: 350px;}
        }
    </style>
    <script>
        function hideAnimation() {
            setTimeout( ()=> {
                document.getElementById('stalk_main').style.display = 'none'
            }, 1000 )
        }
    </script>
</head>
<body onload="hideAnimation()">
    <div id="stalk_main" class="w3-container w3-center w3-blue">
        <img id="stalk_img" class="w3-image" src="/static/logo.png" alt="Stalk logo" width="200px" height="150px">
        <p>loading...</p>
    </div>
    <div class="w3-card w3-container w3-blue w3-mobile">
        <center>
            <a href="/">
                <img src="{{url_for('static',filename='logo.png')}}" width="150px" height="100px">
            </a>
            <p>“It is when you are angry that you must watch how you talk.”</p>
        </center>
    </div>
    <center style="margin-top: 20px">
        <form class="w3-panel w3-card w3-mobile w3-blue" action="/login/" method="POST" id="loginformid" onsubmit="return(checkdata())">
            <h2 class="w3-text-white">Login</h2><br>
            <input placeholder="username" class="w3-card w3-mobile w3-animate-input w3-input w3-white w3-border-bottom w3-border-blue" type="text" id="usrnm" name="username" required>
            <br>
            <input placeholder="password" class="w3-card w3-mobile w3-animate-input w3-input w3-white w3-border-bottom w3-border-blue" type="password" id="pswrd" name="password" required>
            {% if error %}
            <p style="color:red">{{error}}</p>
            {% endif %}
            <p id="err_element" style="color: red"></p><br>
            <button type="submit" class="w3-card w3-mobile w3-hover-blue w3-button w3-white w3-border w3-border-white" id="login-btn">login</button>
            <br>
            <a href="/forget_pswrd" class="w3-text-white w3-hover-red">forgotten password ?</a>
            <br>
        </form>
        <div class="w3-container w3-mobile" style="width: 70%">
            <p class="w3-text-teal">New user ?</p>
            <a href="/signup_page" class="w3-card w3-mobile w3-hover-white w3-button w3-block w3-blue" id="signup-btn">join Stalk</a>
        </div>
    </center>
    <div class="w3-border-top w3-border-blue w3-center w3-mobile w3-container w3-card" style="margin-top: 50px">
        <p>Stalk &copy;{{getYear()}}</p>
        <p>All right reserved.</p>
        <p class="w3-text-teal">total user: {{getTotal()}}</p>
    </div>
</body>
</html>